@using netmockery
@model FileResponse
From file: 
<a href="@Url.Action("ViewRequestCreatorFile", new { name = (string)ViewData["endpointName"],  requestCreatorId = (int)ViewData["index"] })">
    <code>@System.IO.Path.GetFileName(Model.Filename)</code>
</a>

@Html.Partial("CommonSimpleResponseCreator", Model)