@using netmockery
@model RegexMatcher

Evaluate regex <code>@Model.Expression</code> against <span title="request path, querystring and request body">request</span>

@await Html.PartialAsync("CommonRequestMatcher", Model)
